
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*reset*/
*{ padding: 0;  margin: 0; box-sizing: border-box; }

html,body{
    background: #581736;
    height: 100%;
    max-width: 1600px;
}


.container{margin: 0; padding: 30px 2%;}
.clear{ clear: both;}
/**/

/*inicio section 01*/
section{
    height: 750px;
    font-family: "Montaga", serif;
}


/*header*/
section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section  .logo{
    cursor: pointer;
    color: #C6327E;
   font-size: 35px;
   font-family: "Open Sans", sans-serif;
}

.nav-desktop{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    display: flex;
}

.nav-desktop ul{
    display: flex;
    list-style-type: none;
}

.nav-desktop ul > li{ margin: 6px;}

 .nav-desktop ul > li a {
    text-decoration: none;
    margin-left: 45px;
    color: #F5DECE;
 }

 .nav-desktop ul > li a:hover{color: #912458;}

 .nav-desktop ul > li a > span{color: #C6327E;}
 
/*fim header*/

.text{
    font-size: 35px;
    font-family: "Montaga", serif;
    padding: 80px 2%;
    color: #F5DECE;
}

.form{
    display: inline-block;
    padding-left: 20px;
    width: 450px;
    height: 200px;
    line-height: 3.6;
}

.form input[type="text"]{
    width: 100%;
    border: 4px solid #F5DECE;
    border-radius: 15px;
    padding: 10px 2%;
    background: #F5DECE; 
}

.form input[placeholder="Email"] , 
.form input[placeholder="nome"] {
    color: #C6327E;
}


.form input[type="button"] {
    cursor: pointer;
    padding-top: 15px;
    width: 100%;
    height: 65px;
    border: 0px solid #F5DECE;
    border-radius: 15px;
    padding: 10px 2%;
    background: #C6327E;
    color: antiquewhite;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
}
 /*FIM SECTION 01*/

.section02{
    height: 1050px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section02  .text h1{
    text-align: center;
     font-family: "Montserrat", sans-serif;;
}



.section02 .profissionais_container{

    display: inline-flex;
    max-width: 450px;
    width: 100%;
    height: 350px;
    background: #662d49;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 23px;
}

.container_wraper{
    text-align: center;
    max-width: 600px;
}

.container_wraper h1{
    padding: 20px  2%;
    color: #ffffff;
}

.container_wraper h3{
    padding-bottom: 12px;
    color: #C6327E;
    font-size: 16px;
}

.container_wraper p{
    color: rgb(223, 223, 223);
    font-size: 8px;
    padding: 20px 8%;
}


.container_wraper input[type="button"]{
    color: #581736;
    padding: 5px 2%;
    margin-top: 45px;
}


.tema_left{
    float: left;
    padding: 100px 10%;
}

.tema_left h1{
    font-size: 43px;
    font-family: monospace;
    color: #C6327E;
}

.tema_left h1 > span{
    color: white;
}


.tema_left p{
    color: white;
    padding-top: 13px;
    font-size: 23px;
}


.nossos_servicos > .container{
    margin: 0; 
    padding: 0px 0%;
    background: purple;
}

.box_right{

    float: right;
    padding: 0px 2%;
    margin-top: 23px;
    margin-right: 100px;
}

.box_right_one{
    border-radius: 2%;
    width: 300px;
    height: 400px;
    background: aqua;
    padding-bottom: 20px;
}

.servicos_wraper{
    display: inline-flex;
}
