
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    background: #581736;
    height: 100%;
    max-width: 1600px;
}

.container{margin: 0; padding: 30px 2%;}

.clear{ clear: both;}



/**/
section{
    height: 750px;
    font-family: "Montaga", serif;
}

/*header*/
section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
section  .logo{
    cursor: pointer;
    color: #C6327E;
   font-size: 35px;
   font-family: "Open Sans", sans-serif;
}

.nav-desktop{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    display: flex;
}

.nav-desktop ul{
    display: flex;
    list-style-type: none;
}

.nav-desktop ul > li{
    margin: 6px;
 }

 .nav-desktop ul > li a {
    text-decoration: none;
    margin-left: 45px;
    color: #F5DECE;
 }

 .nav-desktop ul > li a:hover{
    color: #912458;
 }

 .nav-desktop ul > li a > span{
    color: #C6327E;
 }
 /*fim header*/

.text{
    font-size: 35px;
    font-family: "Montaga", serif;
    padding: 80px 2%;
    color: #F5DECE;
   
}

.form{
    display: inline-block;
    padding-left: 20px;
    width: 450px;
    height: 200px;
    line-height: 3.6;
}

.form input[type="text"]{
    width: 100%;
    border: 4px solid #F5DECE;
    border-radius: 15px;
    padding: 10px 2%;
    background: #F5DECE; 
}

.form input[placeholder="Email"] , 
.form input[placeholder="nome"] {
    color: #C6327E;
}


.form input[type="button"] {
    cursor: pointer;
    padding-top: 15px;
    width: 100%;
    height: 65px;
    border: 0px solid #F5DECE;
    border-radius: 15px;
    padding: 10px 2%;
    background: #C6327E;
    color: antiquewhite;
    font-size: 23px;
 font-family: "Montserrat", sans-serif;
}
 /*FIM SECTION 01*/

.section02{
    height: 750px;
    background: rgb(37, 83, 83);
}

.section02  .text h1{
    text-align: center;
     font-family: "Montserrat", sans-serif;;
}

.section02 .profissionais_container{
    max-width: 600px;
    width: 300px;
    height: 400px;
    background: #581736;
}
