/*Fonte ultilizada*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montaga&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/*reset*/
*{ padding: 0;  margin: 0; box-sizing: border-box; }


html,body{background: #581736; height: 100%; max-width: 1600px;}

.container{margin: 0; padding: 30px 2%;}

.clear{ clear: both;}

/*reset*/

/*inicio section 01*/
section{
    height: 750px;
    font-family: "Montaga", serif;
}


/*header*/
section header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section  .logo{
   cursor: pointer;
   color: #C6327E;
   font-size: 35px;
   font-family: "Open Sans", sans-serif;
}

.nav-desktop{
    font-family: "Open Sans", sans-serif;
    font-size: 25px;
    display: flex;
}

.nav-desktop ul{
    display: flex;
    list-style-type: none;
}

.nav-desktop ul > li{ margin: 6px;}

 .nav-desktop ul > li a {
    text-decoration: none;
    margin-left: 45px;
    color: #F5DECE;
 }

 .nav-desktop ul > li a:hover{color: #912458;}

 .nav-desktop ul > li a > span{color: #C6327E;}
 
/*fim header*/

.text{
    font-size: 35px;
    font-family: "Montaga", serif;
    padding: 80px 2%;
    color: #F5DECE;
}

.form{
    display: inline-block;
    padding-left: 20px;
    width: 450px;
    height: 200px;
    line-height: 3.6;
}

.form input[type="text"]{
    width: 100%;
    border: 4px solid #F5DECE;
    border-radius: 15px;
    padding: 10px 2%;
    background: #F5DECE; 
}

.form input[placeholder="Email"] , 
.form input[placeholder="nome"] {
    color: #C6327E;
}


.form input[type="button"] {
    cursor: pointer;
    padding-top: 15px;
    width: 100%;
    height: 65px;
    border: 0px solid #F5DECE;
    border-radius: 15px;
    padding: 10px 2%;
    background: #C6327E;
    color: antiquewhite;
    font-size: 23px;
    font-family: "Montserrat", sans-serif;
}
 /*FIM SECTION 01*/

.section02{
    height: 1050px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section02  .text h1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
}

.section02 .profissionais_container{
    display: inline-flex;
    max-width: 450px;
    width: 100%;
    height: 350px;
    background: #fcf5e5;
    border-radius: 20px;
    margin-left: 150px;
    margin-top: 23px;
}

.container_wraper{
    text-align: center;
    max-width: 600px;
}

.container_wraper h1{
    padding: 20px  2%;
    color: #581736;
}

.container_wraper h3{
    padding-bottom: 12px;
    color: #C6327E;
    font-size: 16px;
}

.container_wraper p{
    color: rgb(65, 57, 57);
    font-size: 8px;
    padding: 20px 8%;
}


.container_wraper input[type="button"]{
    color: #ffffff;
    padding: 5px 2%;
    margin-top: 35px;
    background: #581736;
    border: none;
    border-radius: 10px;
}

/**/
.tema_left{
    float: left;
    padding: 100px 8%;

}

.tema_left h1{
    font-size: 53px;
    font-family: "Open Sans", sans-serif;
    color: #C6327E;
}

.tema_left h1 > span{
    color: white;
}

.tema_left p{
    font-family: "Open Sans", sans-serif;
    color: white;
    padding-top: 15px;
    font-size: 16px;
}

.icon_seta{
    float: right;
    width: 50%;
    position: relative;
    top: -20px;
    height: 26px;
    border-radius: 20px;
    border: 1px solid #ffffff;
}


.box_right_one:hover{
    transform: translateY(-20px);

}
.box_right{
    position: relative;
    left: 110%;
    top: -160px;
    padding: 0px 2%;
    margin-top: 23px;
    margin-right: 10px;
}

.box_right_one{
    border-radius: 2%;
    width: 300px;
    height: 500px;
    background: rgb(255, 255, 255);
}

.box_right_one {
    transition: all .3s;
}



.servicos_wraper{
    display: inline-flex;
}

.box_right_one p{
   text-align: center;
   padding-top: 80%;
   color: #581736 ;
    
}






/*sobre ela*/


.icone-seta{
	position: absolute;
    left: 50%;
    top: 317%;
	transform:translateX(-50%);
	-ms-transform:translateX(-50%);
	width: 44px;
	height: 44px;
	background-size: 100% 100%;
	background-image: url('../IMG/buttons\ de\ rolagem\ \(1\).png') ;
}



.sobre{
    height: 1600px;
    background: #F5DECE;
    max-width: 1345px;
    border-radius: 20px;
}

.sobre .container_sobre{
    border-radius: 20px;
    padding: 30px 2%;
  margin: 60px;
    width: 90%;
    height: 1469px;
    background: #581736;
}

.ela{
    border-radius: 20px;
    background: #fcf5e5;
    width: 40%;
    height: 400px;
    float: left;
    margin:50px;
}

.container_sobre .text_sobre{
    padding-top:40px;
    float: right;
    width: 50%;

}

.sobre .container_sobre h1{
    font-size: 60px;
    color: #FF5290;
}

.sobre .container_sobre p{
    padding-top: 20px; 
    color: white;
    font-size: 19px;
    font-family: "Open Sans";
}

/*SOBRE ELLA*/

.fqa .perguntas h3{
    font-family: "Open Sans";
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    font-size: 26px;
    color: white;
}



.container_fqa1{
    padding: 20px 2%;
   margin-bottom: 23px;
}

.container_fqa1{
    cursor: pointer;
    padding-bottom: 13px;
    color: white;
    font-family: "Open Sans";
    margin-left: 50px;
    width: 90%;
    background: linear-gradient(to right, #FF5290, #993156);
}


.fqa p{
    margin-left: 53px;
    max-width: 1000px;   
    padding-bottom: 25px;
    
}


.container_fqa1 i{
    padding-top: 0px;
    padding-right: 3%;
    color:wheat;
    float: right;
}



@media screen and (max-width: 650px) {

    section{
        height: 800px;
        font-family: "Montaga", serif;
    }

    

.nav-desktop{
    display: none;
}
.nav-mobile{
    display: none;/*arrumar depois*/
}

.logo{
    padding: 10px 6%;
}
.text{
    font-size: 35px;
    font-family: "Montaga", serif;
    padding: 60px 5%;
    color: #F5DECE;
}

.form{
    display: inline-block;
    padding-left: 20px;
    width: 300px;
    height: 150px;
    line-height: 3.6;
}

.form input[type="text"]{
    padding: 10px 5%;
}

.form input[type="button"] {
    width: 100%;
    height: 45px;
    padding: 6px 6%;
    font-size: 16px;
}

/**/

 .section02{
    height:1600px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.section02 .profissionais_container{
    height: 350px;
    margin-left: auto;
    margin-top: 16px;
}
/**/



.sobre{
    height: 2100px;
    max-width: 1920px;
    background: #F5DECE;
}

.sobre .container_sobre{
    padding: 10px 2%;
     margin: auto;
    width: 100%;
    height: 2000px;
    background: #581736;
}

.ela{
    background: #fcf5e5;
    width: 100%;
    height: 400px;
    display: inline-flex;
    margin:auto;
}

.container_sobre .text_sobre{
    padding-left: 5%;
    width: 100%;

}

.sobre .container_sobre h1{
    font-size: 60px;
    color: #FF5290;
}



/*SOBRE ELLA*/




/**/

.nossos_servicos{
    height: 1000px;
}
.tema_left{
padding-left: 2%;
margin-top: 23px;

}
.box_right{
    position: relative;
    left: 30%;
    top: -10px;
    padding: 0px 2%;
    margin-top: 10px;
    margin-right: 10px;
}


/**/
.container_fqa1{
    padding: 20px 2%;
   margin-bottom: 23px;
}

.container_fqa1{
    padding-left: 2%;
    margin-left: auto;
    width: 100%;
}

.fqa p{
    margin-left: auto;
    padding-left: 2%;
    
}


.container_fqa1 i{
    padding-top: 0px;
    padding-right: 3%;
    color:wheat;
    float: right;
}




}
